

<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>C&M 2018</h2>
        </header>
        <p>Saturday - September 08, 2018*
            <br />
            Ceremony at Cockington Court,<br/>
            Reception at The Thatched Tavern
        </p>
        <footer>
            <ul class="buttons vertical">
                <li>
                    <a  class="button fit scrolly typeform-share link" href="https://rentivo.typeform.com/to/oSiQHM" data-mode="popup"  target="_blank">RSVP </a>
                </li>
            </ul>
        </footer>

        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

        <div style="float:right;margin-top: 20px;font-size:15px;"><small>*Yes, that's in
            <script>
                today=new Date();
                var cmas=new Date(today.getFullYear(), 08, 08);
                var one_day=1000*60*60*24;
                var daysUntil = Math.ceil((cmas.getTime()-today.getTime())/(one_day));
                document.write(daysUntil);
            </script>
            days</small></div>

    </div>

</section>